services:
 
  db:
    image: mysql:8.0
    container_name: xoxemons-db
    restart: always
    environment:
      MYSQL_DATABASE: backend
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: xoxemons-backend
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db

  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: xoxemons-frontend
    restart: always
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  db_data: